<nav class='navbar navbar-expand-lg navbar-light bg-light'>
    <div class='container'>
        <a class='navbar-brand' href='/'>F8-web</a>
        <div class='collapse navbar-collapse' id='navbarSupportedContent'>
            <ul class='navbar-nav ml-auto'>
                <li class='nav-item'>

                </li>
            </ul>

            <div class='dropdown'>
                <button
                    class='btn btn-secondary dropdown-toggle'
                    type='button'
                    data-toggle='dropdown'
                    aria-expanded='false'
                >
                    <img
                        class='user-avatar'
                        src='https://www.gravatar.com/avatar/ee3e9c6a509003ca86dac67b058ab6c263d737784c0bfd843566120efbb3470a.jpg?s=80&amp;d=mp&amp;r=g'
                        alt='Cuong Le'
                    />
                    Le Cuong

                </button>
                <div class='dropdown-menu'>
                    <a class='dropdown-item' href='/courses/create'>Đăng khóa học</a>
                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' href='/me/stored/courses'>Khóa học của tôi</a>
                    <a class='dropdown-item' href='/me/stored/courses'>Bài viết của tôi</a>
                    <div class='dropdown-divider'></div>
                    <a class='dropdown-item' href='/me/stored/courses'>Đăng xuất</a>
                </div>
            </div>
        </div>
    </div>
</nav>